@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .btn-primary {
    @apply bg-red-700 hover:bg-red-800
  }
  .link {
    @apply text-blue-500 hover:text-blue-600
  }
}

@layer base {
  p, li{
    @apply text-lg text-gray-500 text-justify leading-10
  }
  h2 {
    @apply text-4xl sm:text-5xl lg:text-6xl font-bold
  }
}

body {
  margin: 0 !important;
  font-family: "Geologica", sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8888889a;
}